@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Bold.eot');
    src: url('OpenSauceOne-Bold.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Bold.woff2') format('woff2'),
        url('OpenSauceOne-Bold.woff') format('woff'),
        url('OpenSauceOne-Bold.ttf') format('truetype'),
        url('OpenSauceOne-Bold.svg#OpenSauceOne-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-BlackItalic.eot');
    src: url('OpenSauceOne-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-BlackItalic.woff2') format('woff2'),
        url('OpenSauceOne-BlackItalic.woff') format('woff'),
        url('OpenSauceOne-BlackItalic.ttf') format('truetype'),
        url('OpenSauceOne-BlackItalic.svg#OpenSauceOne-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Black.eot');
    src: url('OpenSauceOne-Black.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Black.woff2') format('woff2'),
        url('OpenSauceOne-Black.woff') format('woff'),
        url('OpenSauceOne-Black.ttf') format('truetype'),
        url('OpenSauceOne-Black.svg#OpenSauceOne-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-BoldItalic.eot');
    src: url('OpenSauceOne-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-BoldItalic.woff2') format('woff2'),
        url('OpenSauceOne-BoldItalic.woff') format('woff'),
        url('OpenSauceOne-BoldItalic.ttf') format('truetype'),
        url('OpenSauceOne-BoldItalic.svg#OpenSauceOne-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-ExtraBold.eot');
    src: url('OpenSauceOne-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-ExtraBold.woff2') format('woff2'),
        url('OpenSauceOne-ExtraBold.woff') format('woff'),
        url('OpenSauceOne-ExtraBold.ttf') format('truetype'),
        url('OpenSauceOne-ExtraBold.svg#OpenSauceOne-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-ExtraBoldItalic.eot');
    src: url('OpenSauceOne-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-ExtraBoldItalic.woff2') format('woff2'),
        url('OpenSauceOne-ExtraBoldItalic.woff') format('woff'),
        url('OpenSauceOne-ExtraBoldItalic.ttf') format('truetype'),
        url('OpenSauceOne-ExtraBoldItalic.svg#OpenSauceOne-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Light.eot');
    src: url('OpenSauceOne-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Light.woff2') format('woff2'),
        url('OpenSauceOne-Light.woff') format('woff'),
        url('OpenSauceOne-Light.ttf') format('truetype'),
        url('OpenSauceOne-Light.svg#OpenSauceOne-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Italic.eot');
    src: url('OpenSauceOne-Italic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Italic.woff2') format('woff2'),
        url('OpenSauceOne-Italic.woff') format('woff'),
        url('OpenSauceOne-Italic.ttf') format('truetype'),
        url('OpenSauceOne-Italic.svg#OpenSauceOne-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-LightItalic.eot');
    src: url('OpenSauceOne-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-LightItalic.woff2') format('woff2'),
        url('OpenSauceOne-LightItalic.woff') format('woff'),
        url('OpenSauceOne-LightItalic.ttf') format('truetype'),
        url('OpenSauceOne-LightItalic.svg#OpenSauceOne-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Medium.eot');
    src: url('OpenSauceOne-Medium.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Medium.woff2') format('woff2'),
        url('OpenSauceOne-Medium.woff') format('woff'),
        url('OpenSauceOne-Medium.ttf') format('truetype'),
        url('OpenSauceOne-Medium.svg#OpenSauceOne-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-MediumItalic.eot');
    src: url('OpenSauceOne-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-MediumItalic.woff2') format('woff2'),
        url('OpenSauceOne-MediumItalic.woff') format('woff'),
        url('OpenSauceOne-MediumItalic.ttf') format('truetype'),
        url('OpenSauceOne-MediumItalic.svg#OpenSauceOne-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-SemiBold.eot');
    src: url('OpenSauceOne-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-SemiBold.woff2') format('woff2'),
        url('OpenSauceOne-SemiBold.woff') format('woff'),
        url('OpenSauceOne-SemiBold.ttf') format('truetype'),
        url('OpenSauceOne-SemiBold.svg#OpenSauceOne-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-Regular.eot');
    src: url('OpenSauceOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-Regular.woff2') format('woff2'),
        url('OpenSauceOne-Regular.woff') format('woff'),
        url('OpenSauceOne-Regular.ttf') format('truetype'),
        url('OpenSauceOne-Regular.svg#OpenSauceOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce One';
    src: url('OpenSauceOne-SemiBoldItalic.eot');
    src: url('OpenSauceOne-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSauceOne-SemiBoldItalic.woff2') format('woff2'),
        url('OpenSauceOne-SemiBoldItalic.woff') format('woff'),
        url('OpenSauceOne-SemiBoldItalic.ttf') format('truetype'),
        url('OpenSauceOne-SemiBoldItalic.svg#OpenSauceOne-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

